@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

body {
  font-family: "Inter", sans-serif;
  height: -webkit-fill-available;
  overflow-x: hidden;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.profil {
  border-radius: 10px 40px 10px 40px;
  transition: all 0.5s;
  cursor: pointer;
  object-fit: contain;
  min-width: 15rem;
}
.profil:hover {
  border-radius: 20px 60px 20px 60px;
  filter: invert(10);
  transform: rotate(10deg);
}

#profile{
  animation:profile_animate 8s ease-in-out infinite 1s;
  border:1px solid white;
}
@keyframes profile_animate {
0%{
border-radius: 68% 40% 30% 70%/60% 30% 70% 40%;
}

50%{
border-radius: 38% 60% 70% 48%/50% 60% 30% 60%;
}

100%{
border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}
}
.thumniel img {
  min-width: 10rem;
}

.certificate {
  min-width: 18rem;
}
@media only screen and (max-width: 1000px) {
  .menu {
    right: -100%;
    transition: all 0.5s;
    top: 0;
    height: 100%;
    width: 100%;
    bottom: 0;
  }
}
